*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 2, 2);
}
@keyframes rotate {
    0%{
        /* transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); not necessary to write if angle is of 0 deg*/ 
    }
    33%{
        
        transform: rotateX(360deg) ;
    }
    67%{
        transform: rotateX(360deg) rotateY(360deg) ;
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
    
}
.loader{
    height: 50px;
    width: 50px;
    border: 5px solid cyan;
    background-color: rgb(2, 2, 2);
    animation: rotate 3s ease-in infinite;
    box-shadow: 0 0 15px cyan inset;
    border-radius: 4px;
}